@model StorytellingWebApp.Models.ChapitreCreationVM
<table class="table">
    <thead>
        <tr>
               <th>
                @Html.DisplayNameFor(model => model.image.NomImage)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.image.PathImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaginatedItems.Items) {

            <tr>
             <td>
                @Html.DisplayFor(modelItem => item.NomImage)
            </td>
            <td>
                <img src="@item.Uri" alt="Problem" style="height:100px;width:200px">
            </td>
            <td>
                <a class="btn-primary" asp-controller="Story" asp-action="Create" asp-route-idStoryTelling="@Model.idStoryTelling" asp-route-idImage="@item.IdImage">Select</a>
            </td>

        </tr>
}
    </tbody>
</table>