@model StorytellingWebApp.Models.ChapitreCreationVM

  @*      <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial" />
            <title>users details</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="~/css/site.css" />
        </head>*@
<h1>The Chapters of your Story</h1>
<a asp-controller="Image" asp-action="SelectImage" asp-route-idStoryTelling="@Model.idStoryTelling"> Create a new Chapter </a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.image.NomImage)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.image.descriptionImage)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.story.NomStory)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.story.TextStory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for(int i=0;i<@Model.PaginatedChaps.Items.Count;i++) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model.images[i].NomImage)
            </td>
             <td>
                @Html.DisplayFor(modelItem => @Model.images[i].descriptionImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.stories[i].NomStory)
            </td>
               <td>
                @Html.DisplayFor(modelItem => @Model.stories[i].TextStory)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.PaginatedChaps.Items[i].IdChapitre"> Select</a>
                <form asp-action="Delete" asp-route-id="@Model.PaginatedChaps.Items[i].IdChapitre">
                    <div class="form-group" style="display:none">
                        <label asp-for="idStory" class="control-label"></label>
                        <input asp-for="idStory" class="form-control" value="@Model.PaginatedChaps.Items[i].IdStory" />
                    </div>
                     <div class="form-group" style="display:none">
                        <label asp-for="idStoryTelling" class="control-label"></label>
                        <input asp-for="idStoryTelling" class="form-control" value="@Model.idStoryTelling" />
                    </div>
                     <input type="submit" value="Delete" class="btn btn-danger" /> 
                </form>
            </td>

        </tr>
}
    </tbody>
</table>


<div class="footer" style="align-content:center; width: 100%;">

             <table cellpadding="0" cellspacing="0">
                <tr>
                    @for (int i = 1; i <= Model.PaginatedChaps.TotalPages; i++)
                    {
                        <td>
                            @if (Model.PaginatedChaps.HasNextPage)
                            {
                                <a asp-action="Index" asp-route-idStoryTell="@Model.idStoryTelling" asp-route-pgNumber="@i">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                        </td>
                    }
                </tr>
            </table>
</div>